.DS_Store
*.iml
.idea/.name
*.pkl
*.pyc
/data/
/trainRNNbrain/datajoint/
/data/*
/log/
*.png
*.json
data/trained_RNNs/*
/trainRNNbrain/outputs
/trainRNNbrain/training/outputs
/trainRNNbrain/training/multirun
/slurm/
