.DS_Store
*.iml
.idea/.name
*.pkl
*.pyc
/data/
/src/datajoint/
/slurm_files/
/data/*
/log/
*.png
*.json
data/trained_RNNs/MemoryAntiAngle/0/fp_projection_3D
data/trained_RNNs/MemoryAntiAngle/0/fp_projection_minimize
data/trained_RNNs/MemoryAntiAngle/0/fp_projection_minimize_3D
data/trained_RNNs/MemoryAntiAngle/0/random_trials
data/trained_RNNs/MemoryAntiAngle/0/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/1/config.json
data/trained_RNNs/MemoryAntiAngle/1/fp_projection_approx
data/trained_RNNs/MemoryAntiAngle/1/fp_projection_exact
data/trained_RNNs/MemoryAntiAngle/1/random_trials
data/trained_RNNs/MemoryAntiAngle/1/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/2/config.json
data/trained_RNNs/MemoryAntiAngle/2/fp_projection_approx
data/trained_RNNs/MemoryAntiAngle/2/fp_projection_exact
data/trained_RNNs/MemoryAntiAngle/2/random_trials
data/trained_RNNs/MemoryAntiAngle/2/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230117-171713/config.json
data/trained_RNNs/MemoryAntiAngle/20230117-171713/fp_projection_minimize
data/trained_RNNs/MemoryAntiAngle/20230117-171713/random_trials
data/trained_RNNs/MemoryAntiAngle/20230117-171713/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230117-231753/config.json
data/trained_RNNs/MemoryAntiAngle/20230117-231753/fp_projection
data/trained_RNNs/MemoryAntiAngle/20230117-231753/fp_projection_minimize
data/trained_RNNs/MemoryAntiAngle/20230117-231753/random_trials
data/trained_RNNs/MemoryAntiAngle/20230117-231753/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230118-223557/config.json
data/trained_RNNs/MemoryAntiAngle/20230118-223557/fp_projection
data/trained_RNNs/MemoryAntiAngle/20230118-223557/random_trials
data/trained_RNNs/MemoryAntiAngle/20230118-223557/slow_points_projection
data/trained_RNNs/MemoryAntiAngle/20230118-223557/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230119-122038/config.json
data/trained_RNNs/MemoryAntiAngle/20230119-122038/random_trials
data/trained_RNNs/MemoryAntiAngle/20230119-122038/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230119-125247/config.json
data/trained_RNNs/MemoryAntiAngle/20230119-125247/random_trials
data/trained_RNNs/MemoryAntiAngle/20230119-125247/slow_points_projection
data/trained_RNNs/MemoryAntiAngle/20230119-125247/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230119-203415/config.json
data/trained_RNNs/MemoryAntiAngle/20230119-203415/random_trials
data/trained_RNNs/MemoryAntiAngle/20230119-203415/slow_points_projection
data/trained_RNNs/MemoryAntiAngle/20230119-203415/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230119-210322/config.json
data/trained_RNNs/MemoryAntiAngle/20230119-210322/random_trials
data/trained_RNNs/MemoryAntiAngle/20230119-210322/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230119-210322/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230119-213009/config.json
data/trained_RNNs/MemoryAntiAngle/20230119-213009/random_trials
data/trained_RNNs/MemoryAntiAngle/20230119-213009/slow_points_projection_3D
data/trained_RNNs/MemoryAntiAngle/20230119-213009/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230119-213009/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230119-215913/config.json
data/trained_RNNs/MemoryAntiAngle/20230119-215913/random_trials
data/trained_RNNs/MemoryAntiAngle/20230119-215913/slow_points_projection_3D
data/trained_RNNs/MemoryAntiAngle/20230119-215913/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230119-215913/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230119-222602/config.json
data/trained_RNNs/MemoryAntiAngle/20230119-222602/random_trials
data/trained_RNNs/MemoryAntiAngle/20230119-222602/slow_points_projection_3D
data/trained_RNNs/MemoryAntiAngle/20230119-222602/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230119-222602/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230120-104706/config.json
data/trained_RNNs/MemoryAntiAngle/20230120-104706/random_trials
data/trained_RNNs/MemoryAntiAngle/20230120-104706/slow_points_projection_3D
data/trained_RNNs/MemoryAntiAngle/20230120-104706/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230120-104706/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230120-111201/config.json
data/trained_RNNs/MemoryAntiAngle/20230120-111201/random_trials
data/trained_RNNs/MemoryAntiAngle/20230120-111201/slow_points_projection_3D
data/trained_RNNs/MemoryAntiAngle/20230120-111201/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230120-111201/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230120-115526/config.json
data/trained_RNNs/MemoryAntiAngle/20230120-115526/random_trials
data/trained_RNNs/MemoryAntiAngle/20230120-115526/slow_points_projection_3D
data/trained_RNNs/MemoryAntiAngle/20230120-115526/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230120-115526/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230120-121958/config.json
data/trained_RNNs/MemoryAntiAngle/20230120-121958/random_trials
data/trained_RNNs/MemoryAntiAngle/20230120-121958/slow_points_projection_3D_input
data/trained_RNNs/MemoryAntiAngle/20230120-121958/slow_points_projection_3D_PCA
data/trained_RNNs/MemoryAntiAngle/20230120-121958/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230120-121958/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230124-125234/config.json
data/trained_RNNs/MemoryAntiAngle/20230124-125234/random_trials
data/trained_RNNs/MemoryAntiAngle/20230124-125234/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230124-125234/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/3/config.json
data/trained_RNNs/MemoryAntiAngle/3/fp_projection_approx
data/trained_RNNs/MemoryAntiAngle/3/random_trials
data/trained_RNNs/MemoryAntiAngle/3/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/4/config.json
data/trained_RNNs/MemoryAntiAngle/4/fp_projection_approx
data/trained_RNNs/MemoryAntiAngle/4/fp_projection_exact
data/trained_RNNs/MemoryAntiAngle/4/random_trials
data/trained_RNNs/MemoryAntiAngle/4/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/5/config.json
data/trained_RNNs/MemoryAntiAngle/5/fp_projection
data/trained_RNNs/MemoryAntiAngle/5/fp_projection_minimize
data/trained_RNNs/MemoryAntiAngle/5/random_trials
data/trained_RNNs/MemoryAntiAngle/5/train&valid_loss
*.json
data/trained_RNNs/MemoryAntiAngle/0/fp_projection_3D
data/trained_RNNs/MemoryAntiAngle/0/fp_projection_minimize
data/trained_RNNs/MemoryAntiAngle/0/fp_projection_minimize_3D
data/trained_RNNs/MemoryAntiAngle/0/random_trials
data/trained_RNNs/MemoryAntiAngle/0/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/1/config.json
data/trained_RNNs/MemoryAntiAngle/1/fp_projection_approx
data/trained_RNNs/MemoryAntiAngle/1/fp_projection_exact
data/trained_RNNs/MemoryAntiAngle/1/random_trials
data/trained_RNNs/MemoryAntiAngle/1/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/2/config.json
data/trained_RNNs/MemoryAntiAngle/2/fp_projection_approx
data/trained_RNNs/MemoryAntiAngle/2/fp_projection_exact
data/trained_RNNs/MemoryAntiAngle/2/random_trials
data/trained_RNNs/MemoryAntiAngle/2/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230117-171713/config.json
data/trained_RNNs/MemoryAntiAngle/20230117-171713/fp_projection_minimize
data/trained_RNNs/MemoryAntiAngle/20230117-171713/random_trials
data/trained_RNNs/MemoryAntiAngle/20230117-171713/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230117-231753/config.json
data/trained_RNNs/MemoryAntiAngle/20230117-231753/fp_projection
data/trained_RNNs/MemoryAntiAngle/20230117-231753/fp_projection_minimize
data/trained_RNNs/MemoryAntiAngle/20230117-231753/random_trials
data/trained_RNNs/MemoryAntiAngle/20230117-231753/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230118-223557/config.json
data/trained_RNNs/MemoryAntiAngle/20230118-223557/fp_projection
data/trained_RNNs/MemoryAntiAngle/20230118-223557/random_trials
data/trained_RNNs/MemoryAntiAngle/20230118-223557/slow_points_projection
data/trained_RNNs/MemoryAntiAngle/20230118-223557/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230119-122038/config.json
data/trained_RNNs/MemoryAntiAngle/20230119-122038/random_trials
data/trained_RNNs/MemoryAntiAngle/20230119-122038/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230119-125247/config.json
data/trained_RNNs/MemoryAntiAngle/20230119-125247/random_trials
data/trained_RNNs/MemoryAntiAngle/20230119-125247/slow_points_projection
data/trained_RNNs/MemoryAntiAngle/20230119-125247/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230119-203415/config.json
data/trained_RNNs/MemoryAntiAngle/20230119-203415/random_trials
data/trained_RNNs/MemoryAntiAngle/20230119-203415/slow_points_projection
data/trained_RNNs/MemoryAntiAngle/20230119-203415/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230119-210322/config.json
data/trained_RNNs/MemoryAntiAngle/20230119-210322/random_trials
data/trained_RNNs/MemoryAntiAngle/20230119-210322/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230119-210322/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230119-213009/config.json
data/trained_RNNs/MemoryAntiAngle/20230119-213009/random_trials
data/trained_RNNs/MemoryAntiAngle/20230119-213009/slow_points_projection_3D
data/trained_RNNs/MemoryAntiAngle/20230119-213009/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230119-213009/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230119-215913/config.json
data/trained_RNNs/MemoryAntiAngle/20230119-215913/random_trials
data/trained_RNNs/MemoryAntiAngle/20230119-215913/slow_points_projection_3D
data/trained_RNNs/MemoryAntiAngle/20230119-215913/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230119-215913/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230119-222602/config.json
data/trained_RNNs/MemoryAntiAngle/20230119-222602/random_trials
data/trained_RNNs/MemoryAntiAngle/20230119-222602/slow_points_projection_3D
data/trained_RNNs/MemoryAntiAngle/20230119-222602/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230119-222602/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230120-104706/config.json
data/trained_RNNs/MemoryAntiAngle/20230120-104706/random_trials
data/trained_RNNs/MemoryAntiAngle/20230120-104706/slow_points_projection_3D
data/trained_RNNs/MemoryAntiAngle/20230120-104706/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230120-104706/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230120-111201/config.json
data/trained_RNNs/MemoryAntiAngle/20230120-111201/random_trials
data/trained_RNNs/MemoryAntiAngle/20230120-111201/slow_points_projection_3D
data/trained_RNNs/MemoryAntiAngle/20230120-111201/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230120-111201/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230120-115526/config.json
data/trained_RNNs/MemoryAntiAngle/20230120-115526/random_trials
data/trained_RNNs/MemoryAntiAngle/20230120-115526/slow_points_projection_3D
data/trained_RNNs/MemoryAntiAngle/20230120-115526/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230120-115526/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230120-121958/config.json
data/trained_RNNs/MemoryAntiAngle/20230120-121958/random_trials
data/trained_RNNs/MemoryAntiAngle/20230120-121958/slow_points_projection_3D_input
data/trained_RNNs/MemoryAntiAngle/20230120-121958/slow_points_projection_3D_PCA
data/trained_RNNs/MemoryAntiAngle/20230120-121958/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230120-121958/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/20230124-125234/config.json
data/trained_RNNs/MemoryAntiAngle/20230124-125234/random_trials
data/trained_RNNs/MemoryAntiAngle/20230124-125234/slow_points_projection_output
data/trained_RNNs/MemoryAntiAngle/20230124-125234/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/3/config.json
data/trained_RNNs/MemoryAntiAngle/3/fp_projection_approx
data/trained_RNNs/MemoryAntiAngle/3/random_trials
data/trained_RNNs/MemoryAntiAngle/3/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/4/config.json
data/trained_RNNs/MemoryAntiAngle/4/fp_projection_approx
data/trained_RNNs/MemoryAntiAngle/4/fp_projection_exact
data/trained_RNNs/MemoryAntiAngle/4/random_trials
data/trained_RNNs/MemoryAntiAngle/4/train&valid_loss
data/trained_RNNs/MemoryAntiAngle/5/config.json
data/trained_RNNs/MemoryAntiAngle/5/fp_projection
data/trained_RNNs/MemoryAntiAngle/5/fp_projection_minimize
data/trained_RNNs/MemoryAntiAngle/5/random_trials
data/trained_RNNs/MemoryAntiAngle/5/train&valid_loss
