.DS_Store
*.iml
.idea/.name
*.pkl
*.pyc
/data/
/trainRNNbrain/datajoint/
/data/*
/log/
/slurm/
/style/
*.png
*.json
data/trained_RNNs/*
/trainRNNbrain/outputs
/trainRNNbrain/training/outputs
/trainRNNbrain/training/multirun
/img/dimensionality_reduction/
/trainRNNbrain/experiments_and_analysis/
